In [1]:
import pandas as pd

In [2]:
fruites = pd.DataFrame([[30, 20]], columns = ['Pomes', 'Maduixes'])
fruites

   Pomes  Maduixes
0     30        20

In [3]:
fruites_compradors = pd.DataFrame([[30,20],[28,14]], index=['Miquel','Julia'], columns =['Pomes', 'Maduixes'])
fruites_compradors

        Pomes  Maduixes
Miquel     30        20
Julia      28        14

In [4]:
fruites_compradors_2  =  pd.DataFrame({'Pomes':[30,28],'Maduixes':[20,14]},  index=['Miquel', 'Julia'])
fruites_compradors_2

        Pomes  Maduixes
Miquel     30        20
Julia      28        14

In [5]:
print(fruites_compradors_2 is fruites_compradors)

False

In [6]:
fruites_compradors = fruites_compradors_2
print(fruites_compradors_2 is fruites_compradors)

True

In [7]:
fruites_compradors['Pomes'][0] =15
print(fruites_compradors['Pomes'][0])

15

In [8]:
print(fruites_compradors_2['Pomes'][0])

15

In [9]:
fruites_compradors_2['Pomes'][0]=2
print(fruites_compradors_2['Pomes'][0])
print(fruites_compradors['Pomes'][0])

2
2

In [10]:
fruites_compradors

        Pomes  Maduixes
Miquel      2        20
Julia      28        14

In [11]:
fruites_compradors_2

        Pomes  Maduixes
Miquel      2        20
Julia      28        14